<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0015857437689801 0.0649548176062997 0.00592774601114457"
        rpy="0 0 0" />
      <mass
        value="7.79950985136614" />
      <inertia
        ixx="0.0283949962253378"
        ixy="7.42397316213094E-06"
        ixz="-2.81449130492086E-05"
        iyy="0.0457009333828173"
        iyz="0.000122723597431834"
        izz="0.024498650637409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_front_Link">
    <inertial>
      <origin
        xyz="7.25114308349623E-05 -0.000142006916779791 -0.00788922966246339"
        rpy="0 0 0" />
      <mass
        value="0.59406052726133" />
      <inertia
        ixx="8.40658362900536E-05"
        ixy="-1.39029384282696E-06"
        ixz="-2.54095648669022E-07"
        iyy="8.70690236088907E-05"
        iyz="2.09115365654764E-07"
        izz="0.00010365472083844" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Left_front_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Left_front_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_front_joint"
    type="continuous">
    <origin
      xyz="0.2345 -0.22031 -0.026995"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Left_front_Link" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Left_back_link">
    <inertial>
      <origin
        xyz="-0.000147568503482493 7.62700001299965E-06 -0.00462889649011194"
        rpy="0 0 0" />
      <mass
        value="0.640701994677817" />
      <inertia
        ixx="0.000142971232629255"
        ixy="-6.24412415936802E-07"
        ixz="3.08143744667993E-07"
        iyy="0.00013911628628839"
        iyz="1.15513769692958E-07"
        izz="0.00021217337390376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Left_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Left_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_back_joint"
    type="continuous">
    <origin
      xyz="0.2345 0.22007 -0.028126"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Left_back_link" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="Right_front_link">
    <inertial>
      <origin
        xyz="-0.000147568190130593 7.62796644823704E-06 -0.00462889559807109"
        rpy="0 0 0" />
      <mass
        value="0.640702005693192" />
      <inertia
        ixx="0.000142971241363414"
        ixy="-6.24403201632272E-07"
        ixz="3.08143605239722E-07"
        iyy="0.000139116289222679"
        iyz="1.15514552476497E-07"
        izz="0.000212173385459638" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Right_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Right_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_front_link"
    type="continuous">
    <origin
      xyz="-0.2345 -0.22007 -0.028122"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Right_front_link" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="Right_back_link">
    <inertial>
      <origin
        xyz="7.25117991418056E-05 -0.000142006919187088 -0.00788922996724314"
        rpy="0 0 0" />
      <mass
        value="0.594060518100536" />
      <inertia
        ixx="8.40658333765248E-05"
        ixy="-1.39029374226269E-06"
        ixz="-2.54096671003905E-07"
        iyy="8.70690216651238E-05"
        iyz="2.09114826570764E-07"
        izz="0.000103654721185487" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Right_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Right_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_back_joint"
    type="continuous">
    <origin
      xyz="-0.2345 0.22031 -0.026992"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Right_back_link" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Yaw_link">
    <inertial>
      <origin
        xyz="-0.000252575443715981 0.00193359241203856 0.00229325128481148"
        rpy="0 0 0" />
      <mass
        value="0.480169882095531" />
      <inertia
        ixx="0.00072073735968998"
        ixy="-4.84464821876033E-06"
        ixz="1.79798070665102E-06"
        iyy="0.000705698529475937"
        iyz="9.32885054113343E-06"
        izz="0.000875000704894706" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_link"
    type="continuous">
    <origin
      xyz="0 0 0.238"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Yaw_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="Pitch_link">
    <inertial>
      <origin
        xyz="0.138321426905261 0.0290201598418666 -0.32745300968069"
        rpy="0 0 0" />
      <mass
        value="2.47332642999639" />
      <inertia
        ixx="0.00141405247579708"
        ixy="-0.00015097067748055"
        ixz="-7.46979735382505E-05"
        iyy="0.00172626963179586"
        iyz="-2.79577099505065E-05"
        izz="0.00190123010702949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/Pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Pitch_joint"
    type="continuous">
    <origin
      xyz="-0.0456 -0.02439 0.07757"
      rpy="0 0 0" />
    <parent
      link="Yaw_link" />
    <child
      link="Pitch_link" />
    <axis
      xyz="0.98193 0.18925 0" />
  </joint>
</robot>
